.board {
    display: flex;
    flex-flow: column;
    gap: 0rem;
    max-width: 95svh;
    max-height: 95svh;
    padding: 1rem;
    place-content: center;
    background-image: url('/img/wood-texture.jpg');
    background-size: cover;
    background-position: center;
}

.row {
    display: flex;
    max-height: 5%;
    flex-flow: row nowrap;
    gap: 0rem;
    place-content: center;
}

.item {
    width: 10%;
    aspect-ratio: 1;
    display: flex;
    place-content: center;
    place-items: center;
    padding: 0.33rem;
    border: 4px transparent;
}

.white {
    background-color: #f1dbbb;
}

.black {
    background-color: #534633;
}

.highlight {
    filter: grayscale(15%) contrast(.75) hue-rotate(60deg);
}

.inCheck {
    border: 4px dashed crimson;
}

.turnIndicator {
    margin: 1rem auto 0;
    width: fit-content;
    text-align: center;
    filter: drop-shadow(1px 1px 4px black);
    padding: 0.75rem;
    border: 1px solid ivory;
    border-radius: 0.5rem;
    font-weight: 600;
}